@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik;
    color: #414141;
}

a {
    text-decoration: none;
}

body {
     background-color: #fcf9eb;
}

.container {
    max-width: 1208px;
    margin: 0 auto;
}

h2 {
    font-size: 36px;
    font-weight: 700;
}
.transition-contact {
    display: flex;
    gap: 16px;
    align-items: center;
    padding-bottom: 24px;
}
.main-contact{
font-family: Rubik;
font-weight: 400;
font-size: 12px;
line-height: 150%;
color: #414141;
text-decoration: none;
}
.about-contact {
font-family: Rubik;
font-weight: 400;
font-size: 12px;
line-height: 150%;
color: #8F8F8F;
text-decoration: none;
}