@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik;
    color: #414141;
}

body {
    background-color: #fffcf1;
}

.container {
    max-width: 1208px;
    margin: 0 auto;
}
