@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Rubik;
}

.container-favorites {
   padding-right: 116px;
   padding-left: 116px;
}

.transition-contact {
    padding-top: 24px;
    padding-bottom: 24px;
}
.favorites-h2 {
font-weight: 700;
font-size: 64px;
line-height: 150%;
padding-bottom: 60px;
}

.price-delete {
    display: flex;
    gap: 20px;
}

.btn-price {
    width: 184px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
    gap: 8px;
    border-radius: 4px;
    background-color: #70C05B;
    border: none;  
}
.img-delete {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.price-text {
font-weight: 400;
font-size: 12px;
line-height: 150%;
 color: white;
 width: 136px;
}

.delete-btn {
    width: 124px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    border-radius: 4px;
    border: none;
    background-color: #F3F2F1;
}
.delete-text {
    width: 76px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #606060;
}