






/* Section offers */
.section-offers {
    width: 100%;
    height: 294px;
    margin-bottom: 120px;
}

.wrapper-offers {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.card-offers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.card-offers-left, .card-offers-right {
    width: 584px;
    height: 200px;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.card-offers-left {
    padding-left: 40px;
    gap: 21px;
    background-color: #FCD5BA;
    box-shadow: 0px 8px 16px 0px #CA936080;
}
.card-offers-right {
    gap: 51px;
    background-image: url(/assets/images/bg-offers-card.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #E5FFDE;
    box-shadow: 0px 8px 16px 0px #cff1c5;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 258px;
    height: 126px;
}
.p-r {
    position: relative;
}
.content h3 {
    font-size: 24px;
    line-height: 150%;
}
.content p {
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
}
.p-a {
    width: 258px;
    position: absolute;
    bottom: 0;
}




/* Section our stores */
.our-stores {
    width: 100%;
    height: 448px;
}
.wrapper-stores {
    display: flex;
    flex-direction: column;
    gap: 40px;
}