.section-product {
  padding: 40px 0 100px;
}

/* --------- click-info  --------- */

.click-info {
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.wrapper-info-click {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 0 16px ;
}

.title-information {
    font-size: 24px;
    font-weight: 700;
}

.share-information {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 575px;
    height: 36px;
    gap: 24px;
}

.art-info {
    font-size: 14px;
    color: #414141;
}

.icons-grade {
    width: 164px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.grade-change {
    width: 96px;
    height: 16px;
    background-color: #FBF8EC;
}

.review-info {
    font-size: 14px;
    color: #414141;
    text-decoration: underline;
}

.share-button-p {
    color: #606060;
    font-size: 12px;
}

.heart-button-p {
    color: #606060;
    font-size: 12px;

}

.share-info-click-1 {
    width: 132px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #FBF8EC;
    border: none;
}

.share-info-click-2 {
    width: 132px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #FBF8EC;
    border: none;
}

/* ---------  product-layout  --------- */

.product-layout {
    height: 496px;
    display: flex;
}

.product-gallery {
    display: flex;
    width: 584px;
    gap: 16px;
}

.gallery-thumbs li {
    width: 64px;
    height: 86px;
}

.gallery-thumbs {
    width: 64px;
    height: 496px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mini-sour-milk {
    width: 64px;
    height: 86px;
    border-radius: 4px;
}

.gallery-main {
    width: 504px;
    height: 496px;
}

.product-image-sour-milk {
    width: 504px;
    height: 496px;
}

/* ---------  product-price  --------- */

.product-price {
    padding: 0 40px 0 ;
}

.product-widget-pricing {
    width: 376px;
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-old {
    display: flex;
    flex-direction: column;
    height: 75px;
    justify-content: end;
    align-items: start;
    gap: 5px;
}

.price-old-value {
    font-size: 24px;
    width: 98px;
    height: 36px;
    font-weight: 400;
}

.price-old-label {
    font-size: 12px;
    width: 82px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #BFBFBF;
}

.price-card-value {
    font-size: 36px;
    font-weight: 700;
    width: 165px;
    height: 44px;
}

.price-card {
    width: 165px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 7px;
}

.price-card-label {
    width: 163px;
    height: 24px;
    display: flex;
    gap: 8px;
}

.price-card-Severyanochka {
    font-size: 12px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #BFBFBF;
}


/* ---------  product-price-info  --------- */

.product-price-info {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-top: 16px;
}

.add-button {
    width: 376px;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 80px;
    background-color: #FF6633;
    border: none;
    border-radius: 4px;
    padding: 0 20px ;
}

.shoping-button-p-corzina {
    color: #FFFFFF;
    font-size: 24px;
}

.bonus-msg {
    display: flex;
    gap: 4px;
    width: 212px;
    height: 32px;
    justify-content: center;
    align-items: center;
}

.bonuses-p-price {
    color: #70C05B;
    font-size: 12px;
    width: 164px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.bonuses-p-price b {
    color: #70C05B;
}

.notify-btn {
    display: flex;
    gap: 8px;
    height: 32px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #FBF8EC;
    padding: 0 8px;
}

.decline-bell-off {
    width: 200px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #606060;
}



.product-price-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 24px;
}

.detail-row {
    display: flex;
    justify-content: start;
    height: 26px;
    align-items: center;
    gap: 20px;
    padding: 0 8px;
    
}

.detail-row:nth-child(1), 
.detail-row:nth-child(3) {
    background-color: #F3F2F1;
}

.detail-row-name {
    font-size: 12px;
    width: 161px;
    height: 18px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #414141;

}

.detail-row-value {
    font-size: 12px;
    font-weight: 700;
    line-height: 150%;
    color: #414141;
}

/* ---------  product-similar  --------- */

.product-similar {
    height: 496px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.similar-title {
    font-size: 16px;
    color: #606060;
    height: 24px;
    font-weight: 400;
    line-height: 150%;
}

.similar-list {
    height: 496px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.similar-item {
    height: 104px;
    background-color: white;
    display: flex;

}

.similar-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.similar-price {
    width: 148px;
    height: 27px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 10px;
}
