@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-company {
    padding: 24px 116px 116px 80px ;
}
.transition {
    display: flex;
    gap: 16px;
    align-items: center;
}
.main-company{
font-family: Rubik;
font-weight: 400;
font-size: 12px;
line-height: 150%;
color: #414141;
text-decoration: none;
}
.about-company {
font-family: Rubik;
font-weight: 400;
font-size: 12px;
line-height: 150%;
color: #8F8F8F;
text-decoration: none;
}