/* HEADER */
header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 72px;
    background-color: #fff;
    box-shadow: 2px 4px 8px 0px #0000001A;
}

.wrapper-header {
    width: 1208px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* INPUT in the HEADER */
.input-box {
    position: relative;
}
.input-box > input {
    padding: 8px;
    width: 838px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #70C05B;
    color: #333333;
    caret-color: #70C05B;   
}
.input-box > input:focus {
    padding: 9px;
    border: none;
    outline: 2px solid #3d6e31;
}
.input-box > input::placeholder {
    color: #8F8F8F;
}
.input-box .search-icon-wrap {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}


/* RIGHT-NAV in the HEADER */
.right-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.right-nav .favorite-wrap {
    width: 65px;
    height: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.right-nav .favorite-wrap .favorite {
    height: 24px;
    cursor: pointer;
}
.right-nav .favorite-wrap > p {
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
}


.right-nav .busket-wrap {
    width: 49px;
    height: 50px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.right-nav .count-view {
    position: absolute;
    right: 13px;
    bottom: 43px;

    width: 11px;
    height: 11px;
    padding: 2px 4px;
    background-color: #FF6633;
    border-radius: 4px;

    color: #fff;
    font-size: 7px;
}
.right-nav .busket-wrap .busket {
    height: 24px;
    cursor: pointer;
}
.right-nav .busket-wrap > p {
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
}




/* SECTION BANNER */
.banner {
    background-image: url(/assets/images/bg-dostavka.svg);
    background-color: #fff;
}

.wrapper-banner {
    width: 100%;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.wrapper-banner > p {
    font-size: 48px;
    font-weight: 700;
}
